/* Start Global Variables */
:root {
  --main-background-color: #0a192f;
  --cyan-light-color: #64ffda;
  --hover-cyan-color: rgba(100, 255, 218, 0.1);
  --light-blue: #57cbff;
  --white-color: #ccd6f6;
  --comment-gray-color: #586c7a;
  --pink-color: #f57dff;
  --parag-color: #b0c8dd;
  --dark-blue: #112240;
  --transparent-background: rgba(10, 25, 47, 0.85);
  --single-border-color: #233554;
  --preloader-page-background: #020c1b;
  --section-padding: 60px;
  --main-box-shadow: 0 10px 30px -15px rgba(2, 12, 27, 0.7);
}
@media (max-width: 768px) {
  :root {
    --section-padding: 30px;
  }
}
/* End Global Variables */
/* Start Mobile nav-bar */
#mobile-nav-bar {
  position: fixed;
  background-color: var(--dark-blue);
  height: 100vh;
  width: 280px;
  z-index: 1000;
  padding: 80px 30px 30px;
  transition: 0.6s;
  left: -280px;
  top: 0;
  display: flex;
  align-items: center;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
#open-mobile-nave-bar-btn {
  margin-right: 15px;
  color: var(--white-color);
  transition: 0.3s;
  font-size: 22px;
  display: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
#open-mobile-nave-bar-btn:hover {
  color: var(--cyan-light-color);
}
@media (max-width: 992px) {
  #open-mobile-nave-bar-btn {
    display: block;
  }
}
#mobile-nav-bar .links {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}
#mobile-nav-bar .links a {
  opacity: 0;
  position: relative;
  bottom: 20px;
}
#mobile-nav-bar .links a:not(.main-btn-them) {
  display: flex;
  font-size: 18px;
  color: var(--white-color);
  text-transform: uppercase;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  transition: color 0.3s 0.1s, font-weight 0.1s ease-in-out,
    opacity 0.3s ease-out, bottom 0.3s ease-out;
  -webkit-transition: color 0.3s 0.1s, font-weight 0.1s ease-in-out,
    opacity 0.3s ease-out, bottom 0.3s ease-out;
  -moz-transition: color 0.3s 0.1s, font-weight 0.1s ease-in-out,
    opacity 0.3s ease-out, bottom 0.3s ease-out;
  -ms-transition: color 0.3s 0.1s, font-weight 0.1s ease-in-out,
    opacity 0.3s ease-out, bottom 0.3s ease-out;
  -o-transition: color 0.3s 0.1s, font-weight 0.1s ease-in-out,
    opacity 0.3s ease-out, bottom 0.3s ease-out;
}
.main-btn-them {
  text-transform: uppercase;
  color: var(--cyan-light-color) !important;
  padding: 10px 15px !important;
  border: 1px solid var(--cyan-light-color);
  border-radius: 4px;
  transition: opacity 0.3s ease-out, bottom 0.3s ease-out,
    background-color 0.3s ease-in-out;
  display: block;
  -webkit-transition: opacity 0.3s ease-out, bottom 0.3s ease-out,
    background-color 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-out, bottom 0.3s ease-out,
    background-color 0.3s ease-in-out;
  -ms-transition: opacity 0.3s ease-out, bottom 0.3s ease-out,
    background-color 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-out, bottom 0.3s ease-out,
    background-color 0.3s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.main-btn-them:hover {
  background-color: var(--hover-cyan-color) !important;
}
#mobile-nav-bar .links a.active {
  color: var(--cyan-light-color);
  font-weight: 600;
}
#mobile-nav-bar .links a:not(.main-btn-them):hover {
  color: var(--cyan-light-color);
  font-weight: 600;
}
#mobile-nav-bar .links a .link-num {
  color: var(--cyan-light-color);
}
#mobile-nav-bar #close-mobile-nave-bar-btn {
  position: absolute;
  top: 30px;
  right: 30px;
  color: var(--white-color);
  cursor: pointer;
  font-size: 30px;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
#mobile-nav-bar #close-mobile-nave-bar-btn:hover {
  color: var(--cyan-light-color);
}
#mobile-nav-bar-overlay {
  position: fixed;
  width: calc(100vw + 30px);
  height: 100vh;
  top: 0;
  left: -30px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.6s;
  opacity: 0;
  display: none;
  z-index: 500;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
/* End Mobile nav-bar */
/* Start Main Title */
.main-title {
  position: relative;
  font-size: 53px;
  font-weight: 900;
  margin-bottom: 30px;
}
@media (max-width: 992px) {
  .main-title {
    font-size: 43px;
  }
}
@media (max-width: 768px) {
  .main-title {
    font-size: 33px;
  }
}
.main-title .main-title-tag-name {
  color: var(--light-blue);
  transform: scale(1, 1);
  display: inline-block;
  -webkit-transform: scale(1, 1);
  -moz-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
}
.main-title .main-title-normal-text {
  color: var(--cyan-light-color);
}
/* End Main Title */
/* Start Special Links :hover */
.special-link-hover {
  position: relative;
}
.special-link-hover::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: var(--cyan-light-color);
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.special-link-hover:hover::before {
  width: 100%;
}
/* End Special Links :hover */
/* Start Global Rules */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  font-family: "Barlow", sans-serif;
  background-color: var(--main-background-color);
  overflow-x: hidden;
  overflow-y: visible;
}
::-webkit-scrollbar {
  width: 5px;
  height: 100px;
}
::-webkit-scrollbar-track {
  background-color: var(--main-background-color);
}
::-webkit-scrollbar-thumb {
  background: var(--parag-color);
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 993px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */
/* Start Header */
#all-website-contents {
  position: relative;
  transition: 0.6s;
  left: 0;
  margin-top: 81px;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
.fixed-container {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 100;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
header {
  position: relative;
  padding: 0 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--transparent-background);
  border-bottom: 1px solid var(--single-border-color);
  min-height: 81px;
  transition: 0.3s ease-in-out;
  backdrop-filter: blur(10px);
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}

@media (max-width: 1200px) {
  header {
    padding: 0 30px;
  }
}
@media (max-width: 992px) {
  header {
    justify-content: flex-start;
  }
}
@media (max-width: 480px) {
  header {
    padding: 0 15px;
  }
}
header .header-cursor {
  width: 30px;
  height: 30px;
  border: 2px solid var(--cyan-light-color);
  border-radius: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
  display: none;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition-property: background, transform;
  transform-origin: 100% 100%;
  z-index: 1;
}
header .header-cursor.hoverEffect {
  transform: scale(200%);
  background: var(--cyan-light-color);
  -webkit-transform: scale(200%);
  -moz-transform: scale(200%);
  -ms-transform: scale(200%);
  -o-transform: scale(200%);
}
.logo {
  display: flex;
  align-items: center;
  gap: 5px;
}
.logo .icon {
  position: relative;
  width: 60px;
  height: 50px;
  background-color: var(--cyan-light-color);
  display: flex;
  gap: 8px;
  overflow: hidden;
}
header .logo .icon {
  opacity: 0;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.logo .icon::before {
  content: "";
  position: absolute;
  top: -5px;
  height: calc(100% + 10px);
  width: 5px;
  background-color: var(--main-background-color);
  left: 27px;
  transform: rotate(16deg);
  -webkit-transform: rotate(16deg);
  -moz-transform: rotate(16deg);
  -ms-transform: rotate(16deg);
  -o-transform: rotate(16deg);
}
.logo .icon > * {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  bottom: 5px;
  color: var(--main-background-color);
}
.text {
  position: relative;
  font-size: 40px;
  font-weight: bold;
  color: var(--white-color);
}
header .text {
  opacity: 0;
  left: 10px;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
header .links {
  display: flex;
  gap: 40px;
  align-items: center;
}
@media (max-width: 992px) {
  header .links {
    display: none;
  }
}
header .links a {
  position: relative;
  display: block;
  padding: 30px 0;
  font-size: 18px;
  color: var(--white-color);
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  cursor: none;
  z-index: 2;
  opacity: 0;
  bottom: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
header .links a.active {
  color: var(--cyan-light-color);
}

header .links a.linkHoverEffect {
  color: var(--main-background-color);
}
header .links a .link-num {
  color: var(--cyan-light-color);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}
header .links a:hover .link-num {
  color: var(--main-background-color);
}
/* End Header */
/* Start Landing */
.landing {
  position: relative;
  width: 100%;
  padding: var(--section-padding) 0;
}

.landing .container {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .landing .container {
    flex-direction: column-reverse;
    gap: 30px;
  }
}
.landing .container > * {
  flex-basis: 100%;
  width: 100%;
}
.landing .container #personal-image {
  position: relative;
}
.landing .container #personal-image img {
  width: 120%;
  position: relative;
  right: 130px;
  bottom: 40px;
}
@media (max-width: 1200px) {
  .landing .container #personal-image img {
    width: 100%;
    right: 10px;
  }
}
@media (max-width: 992px) {
  .landing .container #personal-image img {
    width: 110%;
    right: 75px;
  }
}
@media (max-width: 768px) {
  .landing .container #personal-image img {
    max-width: 100%;
    right: 0;
  }
}
.landing .container #code-boxes .welcome-title {
  position: relative;
  margin-bottom: 40px;
  font-size: 80px;
}
@media (max-width: 1200px) {
  .landing .container #code-boxes .welcome-title {
    font-size: 60px;
  }
}
@media (max-width: 992px) {
  .landing .container #code-boxes .welcome-title {
    font-size: 50px;
  }
}
.landing .container #code-boxes .welcome-title .tag-name {
  color: var(--light-blue);
  font-weight: bold;
}

.landing .container #code-boxes .welcome-title .normal-text-hello {
  color: var(--cyan-light-color);
  font-weight: bold;
}
.landing
  .container
  #code-boxes
  .welcome-title
  .normal-text-hello
  span:first-child {
  text-transform: uppercase;
}
.landing .container #code-boxes .welcome-title .normal-text-name {
  color: var(--light-blue);
  font-weight: 400;
}
.landing .container #code-boxes .welcome-title .normal-text-description {
  color: var(--cyan-light-color);
  font-weight: 400;
}
.landing .container #code-boxes #box-one,
.landing .container #code-boxes #box-two {
  position: relative;
  width: 350px;
  height: 180px;
  background: var(--dark-blue);
  padding: 30px;
  box-shadow: var(--main-box-shadow);
  border-radius: 4px;
  border: 1px solid var(--hover-cyan-color);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.landing .container #code-boxes #box-one .box-cadre,
.landing .container #code-boxes #box-two .box-cadre {
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  border: 1px solid var(--hover-cyan-color);
  z-index: -1;
  transition: 0.3s ease-in-out;
  border-radius: 4px;
  box-shadow: var(--main-box-shadow);
  opacity: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.landing .container #code-boxes #box-one .box-cadre.cadre-later-show-animation,
.landing .container #code-boxes #box-two .box-cadre.cadre-later-show-animation {
  animation: cadre-show 0.7s 1.4s ease-in-out;
  -webkit-animation: cadre-show 0.7s 1.4s ease-in-out;
}
.landing .container #code-boxes #box-one:hover .box-cadre,
.landing .container #code-boxes #box-two:hover .box-cadre {
  top: 10px !important;
  left: 10px !important;
  box-shadow: 0 10px 30px -15px var(--hover-cyan-color);
}
@media (max-width: 768px) {
  .landing .container #code-boxes #box-one .box-cadre,
  .landing .container #code-boxes #box-two .box-cadre {
    display: none;
  }
}
.landing .container #code-boxes #box-one {
  margin-bottom: 30px;
}
.landing .container #code-boxes #box-two {
  margin-left: 100px;
}
@media (max-width: 1200px) {
  .landing .container #code-boxes #box-one,
  .landing .container #code-boxes #box-two {
    width: 320px;
  }
}
@media (max-width: 992px) {
  .landing .container #code-boxes #box-one,
  .landing .container #code-boxes #box-two {
    width: 300px;
  }
  .landing .container #code-boxes #box-two {
    margin: 0;
  }
}
@media (max-width: 768px) {
  .landing .container #code-boxes #box-one,
  .landing .container #code-boxes #box-two {
    width: 100%;
  }
}
.landing .container #code-boxes #box-one #code-area-one,
.landing .container #code-boxes #box-two #code-area-two {
  position: relative;
  height: 20px;
}
.landing .container #code-boxes .comment {
  color: var(--comment-gray-color);
}
.landing .container #code-boxes .object-name {
  color: var(--pink-color);
}
.landing .container #code-boxes .bracket {
  color: var(--white-color);
}
.landing .container #code-boxes .key {
  color: var(--white-color);
}
.landing .container #code-boxes .value {
  color: var(--light-blue);
}
.landing .container #code-boxes #box-one #code-area-one::before,
.landing .container #code-boxes #box-two #code-area-two::before {
  content: "|";
  position: absolute;
  right: -5px;
  bottom: -1px;
  color: var(--white-color);
  animation: cursor 3s linear infinite;
  opacity: 0;
  -webkit-animation: cursor 3s linear infinite;
}
/* End Landing */
/* Start About Me */
.about-me {
  position: relative;
  width: 100%;
  padding: var(--section-padding) 0;
}
.about-me .about-me-header {
  display: flex;
  align-items: center;
  height: 100%;
}
@media (max-width: 992px) {
  .about-me .about-me-header {
    flex-direction: column;
    align-items: stretch;
  }
}
.about-me .about-me-header > * {
  flex: 1;
}
.about-me .about-me-header .sphere {
  position: relative;
  color: var(--light-blue);
  font-size: 20px;
}
@media (max-width: 992px) {
  .about-me .about-me-header .sphere {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 993px) {
  .about-me .about-me-header .sphere .tagcloud {
    width: 100% !important;
    height: 100% !important;
    bottom: 40px;
  }
}
.about-me .container #about-me-description {
  position: relative;
  color: var(--parag-color);
}
.about-me .container #about-me-description p {
  margin-bottom: 20px;
  width: 600px;
  line-height: 1.5;
  font-weight: 600;
}
@media (max-width: 1200px) {
  .about-me .container #about-me-description p {
    width: 480px;
  }
}
@media (max-width: 992px) {
  .about-me .container #about-me-description p {
    width: 600px;
  }
}
@media (max-width: 768px) {
  .about-me .container #about-me-description p {
    width: 100%;
    font-size: 14px;
  }
}
.about-me .container #about-me-description a {
  display: block;
  color: var(--cyan-light-color);
  font-weight: 600;
  font-size: 18px;
  width: fit-content;
}
.about-me .container .years-experience {
  position: relative;
  display: flex;
  margin-top: 80px;
  gap: 30px;
  align-items: flex-start;
  padding: 0 0 130px 0;
  flex-wrap: wrap;
}
.about-me .container .years-experience .box {
  box-shadow: 0 10px 30px -15px rgb(2 12 27 / 70%);
  transform: translateY(0);
  filter: blur(0);
  background: var(--dark-blue);
  padding: 50px 30px;
  transition: 0.6s ease-in-out;
  flex: 1;
  border-radius: 4px;
  border: 1px solid var(--hover-cyan-color);
  position: relative;
  opacity: 0;
  top: 50px;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  -webkit-filter: blur(0);
  -webkit-transition: 0.6s ease-in-out;
  -moz-transition: 0.6s ease-in-out;
  -ms-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.about-me .container .years-experience .box:nth-child(2),
.about-me .container .years-experience .box:nth-child(4) {
  margin-top: 80px;
}
@media (max-width: 992px) {
  .about-me .container .years-experience {
    margin-top: 0;
  }
  .about-me .container .years-experience .box {
    flex-basis: calc(50% - 30px);
    margin: 0 !important;
    padding: 30px;
  }
}
@media (max-width: 768px) {
  .about-me .container .years-experience {
    gap: 15px;
    padding: 0 0 60px 0;
  }
  .about-me .container .years-experience .box {
    flex-basis: 100%;
    padding: 15px;
  }
}
.about-me .container .years-experience .box .year {
  color: var(--cyan-light-color);
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .about-me .container .years-experience .box .year {
    font-size: 21px;
    margin-bottom: 15px;
  }
}
.about-me .container .years-experience .box .title {
  color: var(--light-blue);
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 20px;
}
@media (max-width: 768px) {
  .about-me .container .years-experience .box .title {
    font-size: 18px;
    margin-bottom: 10px;
  }
}
.about-me .container .years-experience .box .description {
  color: var(--parag-color);
  line-height: 1.5;
}
@media (max-width: 768px) {
  .about-me .container .years-experience .box .description {
    font-size: 14px;
  }
}
.about-me .container .border-bottom img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
/* End About Me */
/* Start Work */
.work {
  position: relative;
  width: 100%;
  padding: var(--section-padding) 0;
}
.work .my-projects {
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}
@media (max-width: 992px) {
  .work .my-projects {
    gap: 50px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .work .my-projects {
    gap: 25px;
    margin-top: 20px;
    margin-bottom: 25px;
  }
}
.work .my-projects .project {
  position: relative;
  display: flex;
  filter: blur(0);
  -webkit-filter: blur(0);
}
.work .my-projects .project.left-to-right-one {
  flex-direction: row-reverse;
}
@media (max-width: 768px) {
  .work .my-projects .project {
    flex-direction: column !important;
  }
}
.work .my-projects .project .project-image {
  position: relative;
  flex-basis: 70%;
}
@media (max-width: 768px) {
  .work .my-projects .project .project-image {
    flex-basis: 100%;
  }
}
.work .my-projects .project .project-image::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(
    238deg,
    rgba(16, 20, 42, 0.72),
    rgba(17, 21, 43, 0)
  );
}
.work .my-projects .project.left-to-right-one .project-image::before {
  background-image: linear-gradient(
    90deg,
    rgba(16, 20, 42, 0.72),
    rgba(17, 21, 43, 0)
  );
}
.work .my-projects .project .project-image img {
  max-width: 100%;
}
.work .my-projects .project-infos {
  position: absolute;
  right: 50px;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
}
.work .my-projects .project.left-to-right-one .project-infos {
  right: 0;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .work .my-projects .project-infos {
    position: relative;
    align-items: flex-start !important;
    right: 0;
    justify-content: flex-start;
    padding: 15px 0;
  }
}
.work .my-projects .project .project-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.work .my-projects .project.left-to-right-one .project-title {
  justify-content: flex-start;
}
@media (max-width: 768px) {
  .work .my-projects .project .project-title {
    justify-content: flex-start;
  }
}
.work .my-projects .project .project-title .main-title {
  font-size: 42px;
}
@media (max-width: 992px) {
  .work .my-projects .project .project-title .main-title {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .work .my-projects .project .project-title .main-title {
    font-size: 22px;
  }
}
.project-description {
  padding: 15px;
  box-shadow: 0 10px 30px -15px rgb(2 12 27 / 70%);
  background: var(--dark-blue);
  border: 1px solid var(--hover-cyan-color);
  width: 50%;
}
.project-description > p {
  color: var(--parag-color);
  line-height: 1.5;
}
@media (max-width: 992px) {
  .project-description > p {
    font-size: 12px;
  }
}
@media (max-width: 768px) {
  .project-description {
    margin: -10px 0 20px;
  }
}
.work .my-projects .project .project-link {
  display: block;
  font-size: 45px;
  color: var(--white-color);
  transition: 0.3s;
  position: relative;
  height: fit-content;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
.work .my-projects .right-to-left-one .project-link,
.work .my-projects .right-to-left-two .project-link {
  margin-right: 80px;
}
@media (max-width: 992px) {
  .work .my-projects .project .project-link {
    font-size: 20px;
  }
}
.work .my-projects .project .project-link:hover {
  color: var(--cyan-light-color);
}
.work .my-projects .project .project-link::before {
  content: "\f054";
  font-family: "Font Awesome 5 Free";
  color: var(--light-blue);
  font-weight: 900;
  position: absolute;
  right: -80px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--light-blue);
  opacity: 0.6;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
@media (max-width: 992px) {
  .work .my-projects .project .project-link::before {
    width: 40px;
    height: 40px;
    font-size: 15px;
    right: -60px;
  }
}
@media (max-width: 768px) {
  .work .my-projects .project .project-link::before {
    width: 30px;
    height: 30px;
    font-size: 10px;
    right: -50px;
  }
}
.work .my-projects .project .project-link:hover::before {
  opacity: 1;
}
.work .other-projects .project-boxes {
  margin-bottom: 80px;
}

.work .other-projects .project-boxes .group {
  display: none;
}
.work .other-projects .project-boxes .group:not(:last-child) {
  margin-bottom: 20px;
}
.work .other-projects .project-boxes .group.active {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.work .other-projects .project-boxes .box {
  background: var(--main-background-color);
  padding: 30px;
  border: 1px solid #04e8ba3c;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transform: translateY(20px);
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.work .other-projects .project-boxes .box.show {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
}
.work .other-projects .project-boxes .box.active {
  border-color: var(--cyan-light-color);
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}
.work .other-projects .project-boxes .box .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.work .other-projects .project-boxes .box .header .folder-icon {
  color: var(--cyan-light-color);
  font-size: 32px;
}
.work .other-projects .project-boxes .box .header a .other-projects-link-icon {
  color: var(--parag-color);
  font-size: 23px;
}
.work .other-projects .project-boxes .box .other-project-title {
  font-size: 22px;
  color: var(--parag-color);
  font-weight: bold;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}
.work .other-projects .project-boxes .box:hover .other-project-title {
  color: var(--cyan-light-color);
}
.work .other-projects .project-boxes .box .other-project-desc {
  font-size: 18px;
  color: var(--parag-color);
  padding: 10px 0;
  line-height: 1.5;
  opacity: 0.8;
}
.work .other-projects .project-boxes .box .other-project-leng {
  display: flex;
  gap: 10px;
  align-items: flex-end;
  color: var(--parag-color);
  opacity: 0.6;
  flex: 1;
}
.work .other-projects .show-more-other-project-btn {
  width: fit-content;
  margin: auto;
  padding: 15px 20px !important;
  background: var(--main-background-color);
  cursor: pointer;
}
/* End Work */
/* Start Skills */
.skills {
  position: relative;
  width: 100%;
  padding: var(--section-padding) 0;
}
.skills .skills-contents {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 20px;
  height: 450px;
  padding: 0 100px;
  margin-top: 50px;
}
@media (max-width: 992px) {
  .skills .skills-contents {
    padding: 0 50px 0 100px;
  }
}
@media (max-width: 768px) {
  .skills .skills-contents {
    flex-direction: column;
    gap: 10px;
    padding: 20px 0;
    align-items: flex-start;
  }
}
.skills .skills-contents > * {
  flex: 1;
}
.skills .skills-contents .skill-container {
  width: 100%;
  background-color: var(--dark-blue);
  border: 1px solid var(--hover-cyan-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transition: 1s ease-in-out;
  transition-property: height, width;
  height: 0%;
  -webkit-transition: 1s ease-in-out;
  -moz-transition: 1s ease-in-out;
  -ms-transition: 1s ease-in-out;
  -o-transition: 1s ease-in-out;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
@media (max-width: 768px) {
  .skills .skills-contents .skill-container {
    width: 0%;
  }
}
.skills .skills-contents .skill-container .info {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  height: 200px;
  transition: 0.3s 1s ease-in-out;
  transition-property: opacity, transform;
  opacity: 0;
  -webkit-transition: 0.3s 1s ease-in-out;
  -moz-transition: 0.3s 1s ease-in-out;
  -ms-transition: 0.3s 1s ease-in-out;
  -o-transition: 0.3s 1s ease-in-out;
}
@media (min-width: 768px) {
  .skills .skills-contents .skill-container .info {
    transform: translateY(40px);
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
  }
}
@media (max-width: 768px) {
  .skills .skills-contents .skill-container .info {
    height: 100%;
    flex-direction: row;
    padding: 0;
    align-items: center;
  }
}
.skills .skills-contents .skill-container .info span {
  display: block;
  text-align: center;
  flex: 1;
}
.skills .skills-contents .skill-container .info .skill-progress {
  color: var(--light-blue);
  font-size: 50px;
  font-weight: bold;
}
@media (max-width: 1200px) {
  .skills .skills-contents .skill-container .info .skill-progress {
    font-size: 40px;
  }
}
@media (max-width: 992px) {
  .skills .skills-contents .skill-container .info .skill-progress {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .skills .skills-contents .skill-container .info .skill-progress {
    font-size: 25px;
    display: flex;
    justify-content: flex-start;
    position: relative;
    left: 30px;
  }
}

.skills .skills-contents .skill-container .info .skill-name {
  color: var(--parag-color);
  font-size: 21px;
  font-weight: bold;
  padding: 15px;
}
@media (max-width: 1200px) {
  .skills .skills-contents .skill-container .info .skill-name {
    font-size: 20px;
  }
}
@media (max-width: 1200px) {
  .skills .skills-contents .skill-container .info .skill-name {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .skills .skills-contents .skill-container .info .skill-name {
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 30px;
  }
}
.skills .skills-contents .skills-levels {
  height: 100%;
  width: calc(100% - 80px);
  position: absolute;
  left: 80px;
  top: 0;
  border-left: 1px solid var(--hover-cyan-color);
  border-bottom: 1px solid var(--hover-cyan-color);
  display: flex;
  flex-direction: column;
  z-index: -1;
}
@media (max-width: 768px) {
  .skills .skills-contents .skills-levels {
    flex-direction: row-reverse;
    left: 0;
    width: 100%;
  }
}
.skills .skills-contents .skills-levels > * {
  position: relative;
  width: 100%;
  height: 100%;
  border-top: 1px solid var(--hover-cyan-color);
}
@media (max-width: 768px) {
  .skills .skills-contents .skills-levels > * {
    border-left: 1px solid var(--hover-cyan-color);
  }
}
.skills .skills-contents .skills-levels > * span {
  position: absolute;
  top: -15px;
  right: calc(100% + 20px);
  font-size: 25px;
  font-weight: bold;
  text-transform: capitalize;
  color: var(--parag-color);
}
@media (max-width: 992px) {
  .skills .skills-contents .skills-levels > * span {
    font-size: 20px;
    top: -10px;
  }
}
@media (max-width: 768px) {
  .skills .skills-contents .skills-levels > * span {
    left: 0;
    top: -30px;
  }
}
/* End Skills */
/* Start Contact */
.contact {
  position: relative;
  width: 100%;
  padding: var(--section-padding) 0 calc(var(--section-padding) * 2);
}
.contact .info {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .contact .info {
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
  }
}
.contact .contact-big-title {
  position: relative;
  font-size: 53px;
  font-weight: bold;
  line-height: 1.4;
}
.contact .contact-big-title .main-title {
  color: var(--light-blue);
  display: block;
  margin-bottom: 0;
}
.contact .contact-big-title .contact-link-container {
  position: relative;
  display: block;
  color: var(--parag-color);
}

.contact .contact-big-title .contact-link-container .contact-link {
  color: var(--cyan-light-color);
  display: inline-block;
}
.contact .social-media {
  position: relative;
  top: 20px;
}
@media (max-width: 992px) {
  .contact .social-media {
    top: 0;
  }
}
.contact .social-media .title {
  display: block;
  color: var(--parag-color);
  text-align: center;
  margin-bottom: 20px;
  font-size: 20px;
}
.contact .social-media .icons {
  display: flex;
  gap: 25px;
  justify-content: center;
}
.contact .social-media .icons a {
  display: block;
}
.contact .social-media .icons a i {
  font-size: 30px;
  color: var(--parag-color);
  transition: 0.3s ease-in-out;
  cursor: pointer;
  opacity: 0;
  position: relative;
  bottom: 10px;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.contact .social-media .icons i:hover {
  color: var(--cyan-light-color);
  transform: translateY(-3px);
  -webkit-transform: translateY(-3px);
  -moz-transform: translateY(-3px);
  -ms-transform: translateY(-3px);
  -o-transform: translateY(-3px);
}
.contact .scrolling-thanks {
  position: relative;
  display: flex;
  margin-top: 100px;
  justify-content: center;
  align-items: center;
  gap: 60px;
}
@media (max-width: 992px) {
  .contact .scrolling-thanks {
    justify-content: flex-start;
    gap: 40px;
    margin-top: 40px;
  }
}
@media (max-width: 768px) {
  .contact .scrolling-thanks {
    justify-content: flex-start;
    gap: 20px;
  }
}
.contact .scrolling-thanks .image {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: var(--dark-blue);
  overflow: hidden;
  margin-left: 200px;
  box-shadow: var(--main-box-shadow);
  border: 1px solid var(--hover-cyan-color);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
@media (max-width: 992px) {
  .contact .scrolling-thanks .image {
    margin-left: 0;
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 768px) {
  .contact .scrolling-thanks .image {
    width: 150px;
    height: 150px;
  }
}
.contact .scrolling-thanks .image img {
  max-width: 100%;
}
.contact .scrolling-thanks .text {
  color: var(--parag-color);
  font-size: 23px;
}
@media (max-width: 992px) {
  .contact .scrolling-thanks .text {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .contact .scrolling-thanks .text {
    font-size: 16px;
  }
}
/* End Contact */
/* Start Footer */
footer {
  position: relative;
  width: 100%;
  height: 100px;
}
footer .container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
footer .container .border-top {
  width: 0;
  height: 3px;
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translateX(-50%);
  background-color: var(--single-border-color);
  transition: 0.6s ease-in-out;
  -webkit-transition: 0.6s ease-in-out;
  -moz-transition: 0.6s ease-in-out;
  -ms-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
@media (max-width: 992px) {
  footer .container {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: flex-start;
  }
}
footer .container .copyright,
footer .container .special-thanks {
  position: relative;
  display: block;
  color: var(--parag-color);
  font-size: 18px;
  letter-spacing: 1px;
  opacity: 0;
  top: 30px;
  transition: 0.6s 0.3s ease-in-out;
  -webkit-transition: 0.6s 0.3s ease-in-out;
  -moz-transition: 0.6s 0.3s ease-in-out;
  -ms-transition: 0.6s 0.3s ease-in-out;
  -o-transition: 0.6s 0.3s ease-in-out;
}
@media (max-width: 992px) {
  footer .container .copyright,
  footer .container .special-thanks {
    top: 0;
  }
}
footer .container .me {
  cursor: pointer;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
footer .container .me:hover {
  color: var(--cyan-light-color);
}
/* End Footer */
/* Preload Page */
.preload-page {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: var(--preloader-page-background);
  z-index: 2000;
  transition: 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  -ms-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
}
.preload-page .loading-animation-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: fit-content;
  transition: 0.3s ease-out;
  -webkit-transition: 0.3s ease-out;
  -moz-transition: 0.3s ease-out;
  -ms-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
}
.preload-page .title {
  display: block;
  color: var(--parag-color);
  font-size: 20px;
  margin-top: 10px;
}
.preload-page .progress-bar {
  margin-top: 20px;
  position: relative;
  width: calc(100% + 100px);
  height: 8px;
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--dark-blue);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.preload-page .progress-bar .progress-bar-bg {
  position: absolute;
  left: 0;
  top: 0;
  background-color: var(--light-blue);
  width: 0%;
  height: 100%;
  transition: 2s linear;
  -webkit-transition: 2s linear;
  -moz-transition: 2s linear;
  -ms-transition: 2s linear;
  -o-transition: 2s linear;
}
/* Preload Page */
/* Animation */
.on-scroll-later-show-animation {
  opacity: 0;
}
.on-scroll-show-animation {
  position: relative;
  opacity: 0;
}
.show-animation {
  animation: show-text 0.7s ease-in-out;
  -webkit-animation: show-text 0.7s ease-in-out;
}
.later-show-animation {
  animation: later-show 0.7s 0.7s ease-in-out;
  -webkit-animation: later-show 0.7s 0.7s ease-in-out;
}
.rubberBandAnimation {
  display: inline-block;
}
.rubberBandAnimation.start {
  animation: rubberBand 1s ease-in-out;
  -webkit-animation: rubberBand 1s ease-in-out;
}
@keyframes cursor {
  10% {
    opacity: 1;
  }
  20% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes show-text {
  from {
    opacity: 0;
    top: 50px;
  }
  to {
    opacity: 1;
    top: 0;
  }
}
@keyframes later-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes cadre-show {
  from {
    opacity: 0;
    top: 18px;
    left: 18px;
  }
  to {
    opacity: 1;
    top: 15px;
    left: 15px;
  }
}
@keyframes rubberBand {
  0% {
    transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
  }
  35% {
    transform: scale3d(1.25, 0.75, 1);
    -webkit-transform: scale3d(1.25, 0.75, 1);
    -moz-transform: scale3d(1.25, 0.75, 1);
    -ms-transform: scale3d(1.25, 0.75, 1);
    -o-transform: scale3d(1.25, 0.75, 1);
  }
  45% {
    transform: scale3d(0.75, 1, 1);
    -webkit-transform: scale3d(0.75, 1, 1);
    -moz-transform: scale3d(0.75, 1, 1);
    -ms-transform: scale3d(0.75, 1, 1);
    -o-transform: scale3d(0.75, 1, 1);
  }
  60% {
    transform: scale3d(1.2, 0.8, 1);
    -webkit-transform: scale3d(1.2, 0.8, 1);
    -moz-transform: scale3d(1.2, 0.8, 1);
    -ms-transform: scale3d(1.2, 0.8, 1);
    -o-transform: scale3d(1.2, 0.8, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
    -webkit-transform: scale3d(1.05, 0.95, 1);
    -moz-transform: scale3d(1.05, 0.95, 1);
    -ms-transform: scale3d(1.05, 0.95, 1);
    -o-transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
    -webkit-transform: scale3d(1, 1, 1);
    -moz-transform: scale3d(1, 1, 1);
    -ms-transform: scale3d(1, 1, 1);
    -o-transform: scale3d(1, 1, 1);
  }
}
/* Animation */
